h1,h2 {
    color: red;
    text-align: center;
    font-style: italic;
}
p {
    color: gray;
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    background-color: #222222;
    width: 400px;
    height: 400px;
}

ul {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
}