*{
    text-align: center;
}
h1,h2 {
    color: red;
    font-style: italic;
    border-bottom: solid white 2px;
}
p {
    color: gray;
}

div {
    margin: 4%;
    position:relative;
    background-color: #222222;
    height: auto;
    text-align: center;
    padding:3%;
}

ul {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
}
img {
    position: relative;
    width: 100%;
    border:solid white 2px;
}